:root {
  --title-color: #FFFFFF;
  --title-color-second: #212121;
  --paragraph-color: #757575;
  --accent-color: #2196F3;
  --gap-between-section: 94px;
  --gap-in-section: 30px;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}

.section {
  padding: 94px 0;
}

.section--noPaddingTop {
  padding-top: 0px;
}

.section--otherBackground {
  background-color: #F5F4FA;
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color-second);
  margin-bottom: 50px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo__header {
  margin-right: 90px;
}

.logo__header--dark {
  color: #000000;
}

.logo__footer {
  display: block;
  margin-bottom: 20px;
}

.logo__footer--light {
  color: var(--title-color);
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.header__container {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color-second);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color-second);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:focus, .nav__link:hover {
  color: var(--accent-color);
}

.nav__link--current {
  position: relative;
  color: var(--accent-color);
}
.nav__link--current::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color-second);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:focus, .contacts__link:hover {
  color: var(--accent-color);
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero {
  padding: 200px 0;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2F303A;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--title-color);
  width: 696px;
  margin: var(--gap-in-section);
  margin: 0 auto;
  margin-bottom: var(--gap-in-section);
}

.hero__btn {
  display: block;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 32px;
  border: transparent;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: #188CE8;
}

.benefits {
  display: flex;
}

.benefits__wrapper {
  display: flex;
}

.benefits__icons {
  display: flex;
  background-color: #F5F4FA;
  width: 270px;
  height: 120px;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--gap-in-section);
}

.benefits__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color-second);
  margin-bottom: 10px;
}

.benefits__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
}

.benefits__item {
  width: calc((100% - 60px) / 3);
}
.benefits__item:not(:first-child) {
  margin-left: var(--gap-in-section);
}

.about {
  display: flex;
}

.about__text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: rgba(47, 48, 58, 0.8);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.about__item {
  position: relative;
  width: calc((100% - 60px) / 3);
  overflow: hidden;
}
.about__item:not(:first-child) {
  margin-left: var(--gap-in-section);
}

.team {
  display: flex;
}

.team__wrapper {
  padding-top: var(--gap-in-section);
  padding-bottom: var(--gap-in-section);
}

.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color-second);
  margin-bottom: 10px;
}

.team__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
  margin-bottom: 16px;
}

.socials {
  display: flex;
  justify-content: center;
  text-align: center;
}

.socials__items:not(:last-child) {
  margin-right: 10px;
}

.socials__icons {
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__item {
  width: calc((100% - 90px) / 4);
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__item:not(:first-child) {
  margin-left: var(--gap-in-section);
}

.socials__links {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #AFB1B8;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__links:hover, .socials__links:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
  color: #FFFFFF;
}

.clients {
  display: flex;
}

.clients__item:not(:last-child) {
  margin-right: var(--gap-in-section);
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  color: #AFB1B8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients__icons {
  fill: currentColor;
}

.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.address {
  font-style: normal;
}

.address__item {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  color: var(--title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}

.address__link--grey {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link--grey:hover, .address__link--grey:focus {
  color: var(--accent-color);
}

.footer__soc-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.footer__wrapper + .footer__wrapper {
  margin-left: 83px;
}

.footer__soc-list {
  display: flex;
}

.footer__soc-items:not(:last-child) {
  margin-right: 10px;
}

.footer__soc-links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #FFFFFF;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__soc-links:hover, .footer__soc-links:focus {
  background-color: var(--accent-color);
}

.footer__soc-icons {
  fill: currentColor;
}

.footer-form {
  display: flex;
  align-items: flex-end;
  margin-left: 93px;
}

.footer-form__wrapper {
  width: 358px;
}

.footer-form__label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-form__input {
  min-width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding-left: 16px;
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: var(--accent-color);
  border-radius: 4px;
  padding: 10px 29px;
  margin-left: 12px;
  cursor: pointer;
  border: transparent;
}

.footer-form-btn__icon {
  width: 24px;
  height: 24px;
  fill: #FFFFFF;
  margin-left: 10px;
}

.portfolio-filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.porfolio-filters__item:not(:first-child) {
  margin-left: 8px;
}

.porfolio-filters__btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  background-color: #F5F4FA;
  border-radius: 4px;
  padding: 6px 22px;
  border: transparent;
  color: var(--title-color-second);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.porfolio-filters__btn:focus, .porfolio-filters__btn:hover {
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--title-color);
}

.portfolio-products {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-products__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color-second);
}

.portfolio-products__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
}

.portfolio-products__item {
  width: calc((100% - 60px) / 3);
}
.portfolio-products__item:not(:nth-child(3n+1)) {
  margin-left: var(--gap-in-section);
}
.portfolio-products__item:not(:nth-last-child(-n+3)) {
  margin-bottom: var(--gap-in-section);
}

.portfolio-products__link {
  display: block;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), box-sizing 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-products__link:hover, .portfolio-products__link:focus {
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item-wrapper {
  padding: 20px 24px 20px 24px;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
}

.portfolio-img-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-products__text-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-products__link:hover .portfolio-products__text-hover, .portfolio-products__link:focus .portfolio-products__text-hover {
  transform: translateY(0);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
.modal__close:hover .modal__svg-close, .modal__close:focus .modal__svg-close {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-form {
  padding: 40px;
}

.modal-form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal-field:nth-child(-n+4) {
  margin-bottom: 10px;
}

.modal-form__label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}
.modal-form__label:not(:last-child) {
  margin-bottom: 4px;
}

.modal-form__wrap {
  position: relative;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: #757575;
  padding-left: 42px;
  background-color: transparent;
  outline: none;
}
.modal-form__input:hover, .modal-form__input:focus {
  border: 1px solid var(--accent-color);
}

.modal-input:hover + .modal-svg-icon,
.modal-input:focus + .modal-svg-icon {
  fill: var(--accent-color);
}

.modal-form__svg {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}
.modal-form__input:hover + .modal-form__svg, .modal-form__input:focus + .modal-form__svg {
  fill: var(--accent-color);
}

.modal-form__comment {
  display: block;
  width: 100%;
  min-height: 120px;
  padding: 12px 16px;
  resize: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}
.modal-form__comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__comment:hover, .modal-form__comment:focus {
  border-color: var(--accent-color);
}

.modal-check {
  display: flex;
  align-items: center;
  margin-top: 20px;
  justify-content: center;
}

.modal-check__label {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check__svg {
  margin-right: 9px;
}
.modal-check__input:checked + .modal-check__svg {
  fill: var(--accent-color);
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: border-box;
}

.modal-check__agreement {
  color: var(--accent-color);
  margin-left: 6px;
  text-decoration: underline;
}

.modal-check__btn {
  display: block;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 56px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 30px;
  border: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-check__btn:hover, .modal-check__btn:focus {
  background-color: #188CE8;
}/*# sourceMappingURL=main.css.map */