.benefits {
    @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    }   

    @media screen and (min-width: 1200px) {
        flex-wrap: nowrap;
    }
}


.benefits__icons {
    background-color: #F5F4FA;
    width: 100%;
    height: 120px;
    margin-bottom: var(--gap-in-section);
}

.benefits__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color-second);
    margin-bottom: 10px;
}

.benefits__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--paragraph-color)
}

.benefits__item {
    @media screen and (min-width: 480px){ 
        &:not(:last-child){
        margin-bottom: var(--gap-in-section);
        }
        }
    @media screen and (min-width: 768px) {
        width: calc((100% - 30px) / 2);
        margin-bottom: 0;
        &:not(:last-child) {
            margin-bottom: 0;
        }

        &:nth-child(even){
            margin-left: var(--gap-in-section);
        }
        &:nth-child(-n + 2){
            margin-bottom: var(--gap-in-section);
        }
    }

    @media screen and (min-width: 1200px) {
        width: calc((100% - 90px) / 4);
        &:not(:first-child) {
            margin-left: var(--gap-in-section);
        }
        &:nth-child(-n + 2) {
            margin-bottom: 0;
        }
        }
    }








